* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  max-width: 918px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background-color: #FF5F61;
  padding: 7px 20px;
  border-radius: 25px;
}

.section1 {
  background-image: url("Component 1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  margin-bottom: 100px;
  padding-bottom: 50px;
}

.section2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 387px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 387px));
  grid-row-gap: 115px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.header {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 18px;
}

.header #first {
  padding-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__links {
  color: #fff;
  margin-right: 57px;
}

.header #lastchild {
  margin-right: 0;
}

.header__btn {
  font-size: 20px;
}

.banner {
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
}

.banner #second {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 118px;
  grid-row-gap: 0px;
  -ms-grid-columns: (minmax(301px, 387px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(301px, 387px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__title {
  font-weight: 600;
  font-size: 48px;
  margin: 0;
  margin-top: 168px;
}

.banner__dscr {
  font-weight: 400;
  max-width: 460px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 64px;
}

.banner__btn {
  font-weight: 600;
}

.forma {
  margin-top: -70px;
  max-width: 300px;
  border-radius: 13px;
  -webkit-box-shadow: 0px -10px 0px #1A3055;
          box-shadow: 0px -10px 0px #1A3055;
  padding: 25px;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #FF5F61;
  font-family: Work Sans;
}

.forma__title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
}

.forma__dscr {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 14px;
}

.forma__btn {
  cursor: pointer;
  width: 20px;
  height: 34px;
  border: none;
  background-color: #1A3055;
  background-image: url("Vector.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  border-radius: 0px 18px 18px 0px;
  position: absolute;
}

.forma__input {
  margin-left: -25px;
  position: relative;
  padding: 10px 62px 10px 20px;
  border: none;
  border-radius: 25px 0px 0px 25px;
  outline: none;
}

.feedback {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  margin-top: -100px;
}

.feedback__text {
  max-width: 100%;
  text-align: center;
  font-style: italic;
  margin-left: auto;
}

.feedback__author {
  max-width: 387px;
  color: #FA8D3D;
  text-align: center;
  margin-left: auto;
}

.card {
  font-family: Work Sans;
  font-size: 14px;
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(293px, 367px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(293px, 367px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 184px;
}

.card__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: Tenali Ramakrishna;
  font-size: 36px;
  line-height: 100%;
}

.card__dscr {
  margin: 0;
  margin-bottom: 20px;
}

.pluses {
  margin-top: 43px;
  padding-bottom: 50px;
  padding-top: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(215px, 266px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(215px, 266px));
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-column-gap: 60px;
  grid-row-gap: 0px;
}

.wrapper {
  background-color: #f9f9f9;
}

.plus__title {
  margin-top: -75px;
  text-align: center;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 20px;
}

.plus__dscr {
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  line-height: 21px;
  color: #7D7D7D;
}

.footer {
  font-family: Work Sans;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #1A3055;
  margin: 30px 0;
}

.footer .name {
  color: #FF5F61;
}

.footer__social {
  margin-right: 50px;
}

.footer a:last-child {
  margin-right: 0;
}

.burger {
  display: none;
}

.burger:hover .burger-line {
  background-color: #FF5F61;
}

.burger-line {
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.popup {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
}

.popup__links {
  color: #fff;
}

.popup__btn {
  color: #fff;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 992px) {
  .content {
    padding: 0 10px;
    max-width: 100%;
  }
}

@media screen and (max-width: 657px) {
  .header__nav {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .burger {
    width: 30px;
    height: 27px;
    display: inline;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 5px 5px 5px;
        grid-template-rows: 5px 5px 5px;
    grid-row-gap: 6px;
  }
}
/*# sourceMappingURL=style.css.map */